---
const platform = "github";
const username = "ekusiadadus";
---

<footer>
  <p>
    Learn more about me on
    <a
      href={`https://www.${platform}.com/${username}`}
      target="_blank"
      rel="noopener noreferrer">{platform}</a
    >!
  </p>
</footer>
