---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}
      target="_blank"
      rel="noopener noreferrer">{platform}</a
    >!
  </p>
</footer>
